@media (min-width:320px) and (max-width:767px){

  /*------------
  Top Navigation
  -------------*/
  .overlay-on{
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
  }

  .top-navigation{
    position: relative;

  }
  .top-navigation-bar{
    display: block;
  }

  .logo{
    float: none;
    text-align: center;
  }
  .menu-header{
    background:#42b549;
    color: #fff;
    padding:17px 15px;
    display: block;
  }
  .menu-header a{
    color: #fff;
  }
  .top-navigation-menu{
    width:80%;
    position: fixed;
    background: #fff;
    top: 0px;
    left: 0px;
    z-index: 999999;
    height: 100%;
    display: none;
  }
  .menu-close:hover{
    text-decoration: none;
  }
  .top-navigation-menu ul li{
    display: block;
    float: left;
    width: 100%;
  }
  .top-navigation-menu ul li a{
    display: block;
    padding:10px 15px;
    color: #42b549;
  }

  .wrap_bridge-menu {
    display: none;
  }

  /*------------
  Banner Logo
  -------------*/
  .banner{
    background-repeat: no-repeat;
    background-size: cover !important;
    height: auto !important;
    padding:0 0 10%;
  }
  .banner_logo img{
    max-width: 70%;
  }
  .baloon{
    display: none;
  }
  /*------------
  Section One
  ------------*/
  .section_one img{
    margin-top: 10px;
    width:200px;
    text-align: center;
  }
  .bg_section_one {
    height: auto;
  }
  /*------------
  Section Two
  ------------*/
  .section_two h2{
    font-size: 20px;
    margin-bottom: 0;
  }
  .booth_photo{
    background:#FAF6E2;
    height: auto;
    overflow: hidden;
  }
  .booth_btn{
    margin-top: 0;
    padding:10px;
  }
  .slider-navigation{
    top: 40%;
  }
  .slider-left img,.slider-right img{
    width: 40px;

  }
  .slider img{
    width: 80%;
    margin:auto;
  }
  .akubeliin{
    display: none;
  }
  /*------------
  Section Content
  ------------*/
  .section_content{
    margin-top: 0;
    padding-top: 20px;
  }
  .section_content h2{
    font-size: 30px;
  }
  .bg_section_one{
    background: none;
  }
  /*------------
  Section Two
  ------------*/
  .section_two{
    background: rgba(241, 105, 127, 0.45);
  }
  .bg-section-two h2{
    margin-top: 0px;
    font-size: 25px !important;
  }
  /*------------
  Section Three
  ------------*/
  .section_three img{
    width: 100%;
  }
  .section_four img{
    width: 100%;
  }
  /*------------
  Slider
  -------------*/
  .slider-image{
    height: 200px;
    }


    .add-margin,.add-margin-top{
      display: none;
    }
    .pentax{
      width: 50% !important;
      margin: auto;
    }
    .footer-desc {
    padding: 2% 0 50%;

}
/*------------
Box Photo
------------*/
.box-photo{
  height: auto;
  overflow: hidden;
}
.box-toppicks{
  height: auto;

}
.section_three h2{
  font-size: 25px;
}
.section_four h2{
  font-size: 25px;
}
.section_six h2{
  font-size: 25px;
}
.section_eight h2{
  font-size: 25px;
}
.section_three img{
  width: 60%;
  margin:auto;
}
.section_four img{
  width: 60%;
  margin:auto;
}
.pentax{
  width: 40% !important;
  margin:auto;
}
.footer{
  text-align: center;
}
.footer-connect ul{
  margin-bottom: 10px;
}
  }



@media (min-width: 767px) and (max-width: 991px){

  /*------------
  Top Navigation
  -------------*/
  .overlay-on{
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
  }

  .top-navigation{
    position: relative;

  }
  .top-navigation-bar{
    display: block;
  }

  .logo{
    float: none;
    text-align: center;
  }
  .menu-header{
    background:#42b549;
    color: #fff;
    padding:17px 15px;
    display: block;
  }
  .menu-header a{
    color: #fff;
  }
  .top-navigation-menu{
    width:80%;
    position: fixed;
    background: #fff;
    top: 0px;
    left: 0px;
    z-index: 999999;
    height: 100%;
    display: none;
  }
  .menu-close:hover{
    text-decoration: none;
  }
  .top-navigation-menu ul li{
    display: block;
    float: left;
    width: 100%;
  }
  .top-navigation-menu ul li a{
    display: block;
    padding:10px 15px;
    color: #42b549;
  }

  .wrap_bridge-menu {
    display: none;
  }
  .baloon{
    display: none;
  }
  .banner{
    height: auto !important;
  }
  .banner_logo{
    margin-top: 5%;
  }
  .banner_logo img{
    max-width: 40% !important;
  }
  .playvideo{
    margin-bottom: 20px;
  }
  /*------------
  Section One
  ------------*/
  .section_one{
    padding:5% 0;
  }
  .section_one img{
    width:80%;
    text-align: center;
  }
  .bg_section_one {
    height: auto;
  }
  /*------------
  Section Two
  ------------*/
  .section_two h2{
    font-size: 45px;
    margin-bottom: 0;
  }
  .booth_photo{
    background:#FAF6E2;
    height: auto;
    overflow: hidden;
  }
  .booth_btn{
    margin-top: 0;
    padding:10px;
  }
  .slider-navigation{
    top: 40%;
  }
  .slider-left img,.slider-right img{
    width: 40px;

  }
  .slider img{
    width: 80%;
    margin:auto;
  }
  .akubeliin{
    display: none;
  }
  /*------------
  Section Content
  ------------*/
  .section_content{
    margin-top: 0;
  }
  .section_content h2{
    font-size: 45px;
  }
  .bg_section_one{
    background: none;
  }
  /*------------
  Section Two
  ------------*/
  .section_two{
    background: rgba(241, 105, 127, 0.45);
  }
  .bg-section-two h2{
    margin-top: 0px;
    font-size: 45px !important;
  }
  /*------------
  Section Three
  ------------*/
  .section_three img{
    width: 60%;
    margin:auto;
  }
  .section_four img{
    width: 60%;
    margin:auto;
  }
  /*------------
  Slider
  -------------*/
  .slider-image{
    height: 200px;
    }


    .add-margin,.add-margin-top{
      display: none;
    }
    .pentax{
      width: 30% !important;
      margin: auto;
    }
    .footer-desc {
    padding: 2% 0 50%;

}
/*------------
Box Photo
------------*/
.box-photo{

  overflow: hidden;
}
.box-toppicks{
  height: auto;
}
.section_three h2{
  font-size: 45px;
}
.section_four h2{
  font-size: 45px;
}
.section_six h2{
  font-size: 45px;
}
.section_eight h2{
  font-size: 45px;
}
.section_three img{
  width: 70%;
  margin:auto;
}
}

@media(min-width: 991px) and (max-width:1024px){

  .banner{
    height: auto !important;
    padding-bottom: 20px;
  }
  .banner_logo{
    margin-top: 5%;
  }
  .banner_logo img{
    max-width: 40% !important;
  }
  .playvideo{
    margin-bottom: 20px;
  }
  .section_two h2{
    font-size: 45px;
    margin-bottom: 0;
  }
  .booth_photo{
    background:#FAF6E2;
    height: auto;
    overflow: hidden;
  }
  .booth_btn{
    margin-top: 0;
    padding:10px;
  }
  .slider-navigation{
    top: 40%;
  }
  .slider-left img,.slider-right img{
    width: 70px;

  }
  .slider img{
    width: 80%;
    margin:auto;
  }
  .baloon{
    display: none;
  }
  .section_three img{
    width: 70%;
    margin:auto;
  }
  .section_four{
    background-position: 30%;
  }
  .section_four img{
    width: 70%;
    margin:auto;
  }
  .box-photo {
    background: #fff;
    width: 100%;

    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}
}
@media(min-width: 1024px) and (max-width:1280px){

  .banner{
    height: auto !important;
    padding-bottom: 20px;
  }
  .banner_logo{
    margin-top: 5%;
  }
  .banner_logo img{
    max-width: 40% !important;
  }
  .playvideo{
    margin-bottom: 20px;
  }
  .section_two h2{
    font-size: 45px;
    margin-bottom: 0;
  }
  .booth_photo{
    background:#FAF6E2;
    height: auto;
    overflow: hidden;
  }
  .booth_btn{
    margin-top: 0;
    padding:30px;
  }
  .box-photo {
    background: #fff;
    width: 100%;

    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}
  .slider-navigation{
    top: 40%;
  }
  .slider-left img,.slider-right img{
    width: 70px;

  }
  .slider img{
    width: 100%;
    margin:auto;
  }
  .baloon{
    display: none;
  }
  .section_three img{
    width: 90%;
    margin:auto;
  }
  .section_four{
    background-position: 30%;
  }
  .section_four img{
    width: 70%;
    margin:auto;
  }
}
@media(min-width: 1280px) and (max-width:1660px){
  .banner{
    height: auto !important;
    padding-bottom: 20px;
  }
  .banner_logo{
    margin-top: 5%;
  }
  .banner_logo img{
    max-width: 40% !important;
  }
  .playvideo{
    margin-bottom: 20px;
  }
  .section_two h2{
    font-size: 45px;
    margin-bottom: 0;
  }
  .booth_photo{
    background:#FAF6E2;
    height: auto;
    overflow: hidden;
  }
  .booth_btn{
    margin-top: 0;
    padding:30px;
  }
  .slider-navigation{
    top: 40%;
  }
  .slider-left img,.slider-right img{
    width: 70px;

  }
  .slider img{
    width: 100%;
    margin:auto;
  }
  .baloon{
    display: none;
  }
  .section_three img{
    width: 100%;
    margin:auto;
  }
  .section_four{
    background-position: 30%;
  }
  .section_four img{
    width: 90%;
    margin:auto;
  }
}
